<h1>Profile</h1>

<h2> Alias: {{ techie['alias'] }}</h2>

<h3> General information and job preferences </h3>
<p> 
  <b>Birthdate:</b> {{ techie['birthdate'] }} <br>
  <b>From:</b> {{ techie['from'] }}
</p>
<p> 
  <b>Work modalities:</b> {{ techie['work_modalities'] }} <br>
  <b>Full-time:</b> {{ techie['full_time'] }} <br>
  <b>Part-time:</b> {{ techie['part_time'] }} <br>
  <b>Freelancer:</b> {{ techie['freelancer'] }} <br>
  <b>Venture:</b> {{ techie['venture'] }} <br>
</p>


<h3> Interview </h3>
<h4> Background: {{ interview['background'] }} </h4>
<p>
  <b>Beginnings in the IT world</b><br> {{ interview['beginnings'] }} <br>
</p>
<p>
  <b>Translation:</b> {{ translation['beginnings'] }}
</p>
