<h1>Recommended</h1>

<h2>Desarrollador Junior 2</h2>

<ul>
  <a href='/profile/{{ techie[0]._id }}' style='text-decoration:none; color:black'>
    <li style='list-style:none; background-color:#ECECEC; padding:10px; margin:0 10 20 0'>
      <h3>{{ techie[0].alias }}</h3>
      <p>
        <b>94%</b> of affinity<br>
        <b>{{ techie[0].interview.background }}</b> years of experience<br>
        Pais with: <b>developer,junior,inglés</b>
      </p>
    </li>
  </a>
  <a href='/profile/{{ techie[1]._id }}' style='text-decoration:none; color:black'>
    <li style='list-style:none; background-color:#ECECEC; padding:10px; margin:0 10 20 0'>
      <h3>{{ techie[1].alias }}</h3>
      <p>
        <b>92%</b> of affinity<br>
        <b>{{ techie[1].interview.background }}</b> years of experience<br>
        Pais with: <b>developer,junior,inglés</b>
      </p>
    </li>
  </a>
  <a href='/profile/{{ techie[2]._id }}' style='text-decoration:none; color:black'>
    <li style='list-style:none; background-color:#ECECEC; padding:10px; margin:0 10 20 0'>
      <h3>{{ techie[2].alias }}</h3>
      <p>
        <b>91%</b> of affinity<br>
        <b>{{ techie[2].interview.background }}</b> years of experience<br>
        Pais with: <b>developer,junior,inglés</b>
      </p>
    </li>
  </a>
</u>
